@import '../config/font.scss', '../config/colores.scss';

body{
  margin: 0;
  font-family: $font;
  font-size: $fontSize;
  box-sizing: border-box;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}
