$bgColorFooter: hsl(233, 26%, 24%);
$bgFondo: hsl(0, 0, 100%);
$bgLinkOne: hsl(136, 65%, 51%);
$bgLinkTwo: hsl(192, 70%, 51%);
$colorLinkHeader: hsl(232, 4%, 40%);
$colorDescription: hsl(232, 15%, 70%);