@import '../scss/base/base.scss';

.header{
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60px;
  place-items: center;
  &__icon{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .nav{
    display: none;
  }
}